* {
    margin: 0;
    padding: 0;
}
.sv{
    background-color: #A3AF9C;
}
h1, h2, h3, h5 {
    font-family: 'Raleway', sans-serif;
}
form h3:hover{
    transition: 0.3s;
    scale: 140%;
    cursor: pointer;
}
h5 a{
    text-decoration: none;
    color: #F0F0E9;
}
h5 a:hover{
    transition: 0.3s;
    font-size: 1.3em;
    color: #49562a;
    cursor: pointer;
}
p, li, button {
    font-family: 'Roboto Slab', serif;
}

ul svg {
    color: #F0F0E9;
}

ul svg:hover {
    transition: 0.3s;
    color: #49562a ;
    scale: 140%;
    cursor: pointer;
}

.accordion-button:not(.collapsed), .accordion-button:focus {
    box-shadow: none;
    border: none;
}

.card, .accordion {
    border: none;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.14), 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
}